body {
    margin: 0;
    font-family: system-ui;
    background-color: #121212;
    color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

header {
    min-height: 400px;
    background: rgb(41, 107, 107);
    text-align: center;
}

code {
    background-color: #12121255;
    padding: 0.1rem;
    border-radius: 0.4rem;
}

.box {
    display: block;
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(15, 89, 115);
    border-radius: 1rem;
    transition-duration: 0.3s;
}

.flex {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    color: orange;
    background-color: rgb(0, 46, 61);
}

/* Flex containers */
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.container > div {
    background-color: rgb(0, 46, 61);
    padding: 1rem;
    margin: 0.5rem;
    flex-grow: 1;
    text-align: center;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 600px) {
    .box {
        transition-duration: 0.3s;
        margin: 0.5rem;
    }
}
